body {
margin: 0;
padding: 0;
}

*{
font-family:Verdana, sans-serif;
font-size:12;
/*Fette Schrift 
/*font-weight: bold;   */
}

#header{
	display: block;
	max-width: 1300px;
	min-width: 990px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

#content{
	display: block;
	max-width: 1300px;
	min-width: 990px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

#hread{
display: block;
width:100%;
height:100px;
font-weight: bold;
background: #d92425; 
color:#ffffff;
}

#logo_ravi{
float:left;
height:100px;
width:auto;
}

#logo_hwr{
float: right;
height: 50px;
width: auto;
margin-top: 25px;
margin-right: 20px;
}

#grau_div1{
display: block;
width: 100%;
height:30px;
background:rgb(186, 186, 186);
float:left;
color:#ffffff;
border-bottom-left-radius:4px; /* CSS3 */
border-bottom-right-radius:4px; /* CSS3 */
-moz-border-radius-bottomleft:4px; /* Firefox */
-moz-border-radius-bottomright:4px; /* Firefox */
-webkit-border-bottom-right-radius:4px; /* Safari, Chrome */
-webkit-border-bottom-left-radius:4px; /* Safari, Chrome */
-khtml-border-bottom-right-radius:4px; /* Linux-Browser */
-khtml-border-bottom-left-radius:4px; /* Linux-Browser */
-ms-filter:4px;
margin-bottom: 38px;
vertical-align: middle;
color: black;
}

#grau_div1 ul li {
    list-style: none;
    margin: 0em;
    padding: 0em;
    margin: 0em 0em 0em 1em;
    /*font-size: 0.98em;*/
 	font-size: 1em;
    height: 1em;
    display:inline;
    color: black;
	

}
#grau_div1 a {
	text-decoration: none;
	
}	






#noheader{ 
height:10%;
width:100%;
background-color:#ffffff;
}


#navigation {
float:left;
clear:both;
width:21%;
height:auto;
background-color:rgb(221, 221, 221);
color: #000000;
border: 12px solid rgb(221, 221, 221);
-moz-border-radius: 8px; /* Firefox */
-webkit-border-radius: 8px; /* Safari, Chrome */
-khtml-border-radius: 8px; /* Linux-Browser */
border-radius: 8px; /* CSS3 */
}



#menue_div1{
width:100%;
height:25px;
background:#d92425;
float:left;
color:#ffffff;

border-top-left-radius:4px; /* CSS3 */
border-top-right-radius:4px; /* CSS3 */
-moz-border-radius-topleft:4px; /* Firefox */
-moz-border-radius-topright:4px; /* Firefox */
-webkit-border-top-right-radius:4px; /* Safari, Chrome */
-webkit-border-top-left-radius:4px; /* Safari, Chrome */
-khtml-border-top-left-radius: 4px; /* Linux-Browser */
-khtml-border-top-right-radius:4px; /* Linux-Browser */
}
#menue_div2{
width:100%;
height:auto;
background-color:#ffffff;
color: #000000;  
float:left;
min-height:100px;
background:#ffffff;
text-overflow:hidden;
overflow:hidden;
 
border-bottom-left-radius:4px; /* CSS3 */
border-bottom-right-radius:4px; /* CSS3 */
-moz-border-radius-bottomleft:4px; /* Firefox */
-moz-border-radius-bottomright:4px; /* Firefox */
-webkit-border-bottom-left-radius:4px; /* Safari, Chrome */
-webkit-border-bottom-right-radius:4px; /* Safari, Chrome */
-khtml-border-bottom-right-radius: 4px; /* Linux-Browser */
-khtml-border-bottom-left-radius: 4px; /* Linux-Browser */
}

#main{
float:right;
width:71%;
background:rgb(221, 221, 221); 

border: 12px solid rgb(221, 221, 221); 
-moz-border-radius: 40px; /* Firefox */
-webkit-border-radius: 40px; /* Safari, Chrome */
-khtml-border-radius: 40px; /* Linux-Browser */
border-radius: 8px; /* CSS3 */
margin-bottom: 40px;
}

#top{

}

#pfad {
float:left;
width: 100%;
height:25px;
color:#ffffff;
border-top-left-radius:4px; /* CSS3 */
-moz-border-radius-topleft: 4px; /* Firefox */
-webkit-border-top-left-radius: 4px; /* Safari, Chrome */
-khtml-border-top-left-radius: 4px; /* Linux-Browser */
border-top-right-radius:4px; /* CSS3 */
-moz-border-radius-topright: 4px; /* Firefox */
-webkit-border-top-right-radius: 4px; /* Safari, Chrome */
-khtml-border-top-right-radius: 4px; /* Linux-Browser */
background:#d92425;
}


#titel {
float:right;
width: 49.5%;
height: 25px;
background:#d92425;
color:#ffffff;
border-top-left-radius:4px; /* CSS3 */
-moz-border-radius-topleft: 4px; /* Firefox */
-webkit-border-top-left-radius: 4px; /* Safari, Chrome */
-khtml-border-top-left-radius: 4px; /* Linux-Browser */
border-top-right-radius:4px; /* CSS3 */
-moz-border-radius-topright: 4px; /* Firefox */
-webkit-border-top-right-radius: 4px; /* Safari, Chrome */
-khtml-border-top-right-radius: 4px; /* Linux-Browser */
}

#grafik {
float:left;
background:white; 
min-height:100px;
height:auto;
width:100%;
margin: auto;
border-bottom-left-radius:4px; /* CSS3 */
-moz-border-radius-bottomleft: 4px; /* Firefox */
-webkit-border-bottom-left-radius: 4px; /* Safari, Chrome */
-khtml-border-bottom-left-radius: 4px; /* Linux-Browser */
border-bottom-right-radius:4px; /* CSS3 */
-moz-border-radius-bottomright: 4px; /* Firefox */
-webkit-border-bottom-right-radius: 4px; /* Safari, Chrome */
-khtml-border-bottom-right-radius: 4px; /* Linux-Browser */
} 

#impressum a{
margin: auto;
margin-top:25px;
display: block;
width: 180px;
color: black;
text-decoration: none;
}

.infobox{
display: none;
position:absolute;
background-color: #d92425;
color: white;
}

.upperHead, .routeMap {
line-height: 25px;
padding-left: 5px;
}

.routeMap{
cursor: pointer;
}


input[name = "infobox"] {
position: absolute;
visibility: hidden;
}

label.info:hover { 
cursor: help; 
}

.info1 { 
display: none; 
padding: 0.5em; 
width:195px;
position: absolute; left:250px;
text-decoration:none; 
text-align: justify; 
line-height: 1.5em; 
font-weight: normal; 
color: black; 
border: 1px solid #d92425; 
background: #fff; 
z-index: 999 !important;
}

input#info1:checked ~ span.info1 { 
display: block; 
}

#ui-datepicker-div{
	z-index: 999 !important;
}

#alertRavi{
	position:fixed;
	z-index: 99999;
	display:block;
	width:300px;
	height:100px;
	background-color:white;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	margin-top:-100px;
	transition-property:margin-top;
	transition-duration:1s;
	-moz-box-shadow:    0px 5px 10px 0px darkgrey;
	-webkit-box-shadow: 0px 5px 10px 0px darkgrey;
	box-shadow:         0px 5px 10px 0px darkgrey;
	padding:5px;
}

#alertRavi a{

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background:none !important;
	border: none !important;
}

.ui-widget-content {
	border:none !important;
}
.ui-accordion .ui-accordion-content{
	padding: 0em 0em 0em 0em	!important;
}

a:link    {color:black;}
a:visited {color:black;}
a:hover   {color:black;}
a:active  {color:black;}

#accordion .ui-accordion-header {  
	background-color: white;  
	margin: 0px;  
}