body {
margin-top: 0;
margin-left:5%;
margin-right:5%;
padding: 0;
background: #ffffff;
}

*{
font-family:Verdana, sans-serif;
font-size:12;
font-weight: bold; 
text-indent:1%;
}

#header{
width:100%;
height:20%;
font-weight: bold;
background: #d92425; 
color:#ffffff;
background:url(../Bilder/RaViLogok.jpg) #d92425;	
background-position:left;
background-repeat:no-repeat; 
}
.grau_div1{
width: 100%;
height:5%;
background:#CCCCCC;
float:left;
color:#ffffff;
margin-bottom:5%;

border-bottom-left-radius:10px; /* CSS3 */
border-bottom-right-radius:10px; /* CSS3 */
-moz-border-radius-bottomleft:10px; /* Firefox */
-moz-border-radius-bottomright:10px; /* Firefox */
-webkit-border-bottom-right-radius:10px; /* Safari, Chrome */
-webkit-border-bottom-left-radius:10px; /* Safari, Chrome */
-khtml-border-bottom-right-radius: 10px; /* Linux-Browser */
-khtml-border-bottom-left-radius: 10px; /* Linux-Browser */
-ms-filter:10px;}


#noheader{ 
height:10%;
width:100%;
background-color:#ffffff;
}


#navigation {
float:left;
clear:both;
width:33%;
height:auto;
background-color:#CCCCCC;
color: #000000;  
min-height:400px;

border: 8px solid #CCCCCC;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* Linux-Browser */
border-radius: 10px; /* CSS3 */
}



.menue_div1{
width:100%;
height:5%;
background:#d92425;
float:left;
color:#ffffff;

border-top-left-radius:10px; /* CSS3 */
border-top-right-radius:10px; /* CSS3 */
-moz-border-radius-topleft:10px; /* Firefox */
-moz-border-radius-topright:10px; /* Firefox */
-webkit-border-top-right-radius:10px; /* Safari, Chrome */
-webkit-border-top-left-radius:10px; /* Safari, Chrome */
-khtml-border-top-left-radius: 10px; /* Linux-Browser */
-khtml-border-top-right-radius:10px; /* Linux-Browser */
}
.menue_div2{
width:100%;
height:95%;
background-color:#ffffff;
color: #000000;  
float:left;
min-height:400px;
background:#ffffff;
text-overflow:hidden;
overflow:hidden;
 
border-bottom-left-radius:10px; /* CSS3 */
border-bottom-right-radius:10px; /* CSS3 */
-moz-border-radius-bottomleft:10px; /* Firefox */
-moz-border-radius-bottomright:10px; /* Firefox */
-webkit-border-bottom-left-radius:10px; /* Safari, Chrome */
-webkit-border-bottom-right-radius:10px; /* Safari, Chrome */
-khtml-border-bottom-right-radius: 10px; /* Linux-Browser */
-khtml-border-bottom-left-radius: 10px; /* Linux-Browser */
}

#main{
float:right;
width:60%;
background:#CCCCCC; 

border: 8px solid #CCCCCC; 
-moz-border-radius: 40px; /* Firefox */
-webkit-border-radius: 40px; /* Safari, Chrome */
-khtml-border-radius: 40px; /* Linux-Browser */
border-radius: 10px; /* CSS3 */

}

#top{

}

#pfad {
float:left;
clear:left;
width: 49%;
height:5%;
background:#CCCCCC;  
border-bottom:7px solid #CCCCCC;
color:#ffffff;
position: relative; /* IE 6 und IE7 für overflow: hidden */
}
.pfad_div1{
float:left;
width:100%;
height:100%;
background:#d92425;
color:#ffffff;
text-overflow:hidden;
overflow:hidden;

border-radius:10px; /* CSS3 */
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* Linux-Browser */
}

#titel {
float:right;
clear:right;
width: 50%;
height:5%;
background:#CCCCCC;
color:#ffffff;
border-bottom:7px solid #CCCCCC;
position: relative; /* IE 6 und IE7 für overflow: hidden */
}

.titel_div1{
width:100%;
height:100%;
background:#d92425;
color:#ffffff;
text-overflow:hidden;
overflow:hidden;

border-radius:10px; /* CSS3 */
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* Linux-Browser */

}

#grafik {
float:left;
background:#CCCCCC; 
min-height:100%;
height:auto;
width:100%;
margin-top:0;
margin-left: auto;
margin-right: auto;
} 
*html#grafik{height:600px;} /* Feste Größe für Internet Explorer 6*/
*+html #grafik {height: 600px;} /* Feste Größe für Internet Explorer 7*/
#grafik {height:600px\0/;} /* Feste Größe für Internet Explorer 8*/
#grafik {height/**/: 600px;} /* Feste Größe für Internet Explorer < 6*/

.grafik_div1{
background:#ffffff; 
height:100%;
width:100%;
margin-left: auto;
margin-right: auto;
color:000000;

border-radius:10px; /* CSS3 */
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
-khtml-border-radius: 10px; /* Linux-Browser */
}


#impressum {
height:10%;
width:100%;
text-indent:60%;
float:left;
background-color:#ffffff; 
color:#666666;
bottom: 0;
margin-top:3%;
margin-right:auto;
margin-left:auto;
}

.infobox{
display: none;
position:absolute;
background-color: #d92425;
color: white;
}
