body {
margin: 0;
padding: 0;

}

*{
font-family:Verdana, sans-serif;
font-size:12;
font-weight: bold;
}

#header{
	display: block;
	max-width: 1300px;
	min-width: 990px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

#content{
	display: block;
	max-width: 1300px;
	min-width: 990px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

#hread{
display: block;
width:100%;
height:100px;
font-weight: bold;
background: #d92425; 
color:#ffffff;
}

#logo_ravi{
float:left;
height:100px;
width:auto;
}

#logo_hwr{
float: right;
height: 50px;
width: auto;
margin-top: 25px;
margin-right: 20px;
}

#grau_div1{
display: block;
width: 100%;
height:30px;
background:rgb(186, 186, 186);
float:left;
color:#ffffff;
display: block;
border-bottom-left-radius:4px; /* CSS3 */
border-bottom-right-radius:4px; /* CSS3 */
-moz-border-radius-bottomleft:4px; /* Firefox */
-moz-border-radius-bottomright:4px; /* Firefox */
-webkit-border-bottom-right-radius:4px; /* Safari, Chrome */
-webkit-border-bottom-left-radius:4px; /* Safari, Chrome */
-khtml-border-bottom-right-radius:4px; /* Linux-Browser */
-khtml-border-bottom-left-radius:4px; /* Linux-Browser */
-ms-filter:4px;
margin-bottom: 38px;
}


#noheader{ 
height:10%;
width:100%;
background-color:#ffffff;
}


#navigation {
float:left;
clear:both;
width:33%;
height:auto;
background-color:rgb(221, 221, 221);
color: #000000;
border: 12px solid rgb(221, 221, 221);
-moz-border-radius: 8px; /* Firefox */
-webkit-border-radius: 8px; /* Safari, Chrome */
-khtml-border-radius: 8px; /* Linux-Browser */
border-radius: 8px; /* CSS3 */
}



#menue_div1{
width:100%;
height:25px;
background:#d92425;
float:left;
color:#ffffff;

border-top-left-radius:4px; /* CSS3 */
border-top-right-radius:4px; /* CSS3 */
-moz-border-radius-topleft:4px; /* Firefox */
-moz-border-radius-topright:4px; /* Firefox */
-webkit-border-top-right-radius:4px; /* Safari, Chrome */
-webkit-border-top-left-radius:4px; /* Safari, Chrome */
-khtml-border-top-left-radius: 4px; /* Linux-Browser */
-khtml-border-top-right-radius:4px; /* Linux-Browser */
}
#menue_div2{
width:100%;
height:auto;
background-color:#ffffff;
color: #000000;  
float:left;
min-height:100px;
background:#ffffff;
text-overflow:hidden;
overflow:hidden;
 
border-bottom-left-radius:4px; /* CSS3 */
border-bottom-right-radius:4px; /* CSS3 */
-moz-border-radius-bottomleft:4px; /* Firefox */
-moz-border-radius-bottomright:4px; /* Firefox */
-webkit-border-bottom-left-radius:4px; /* Safari, Chrome */
-webkit-border-bottom-right-radius:4px; /* Safari, Chrome */
-khtml-border-bottom-right-radius: 4px; /* Linux-Browser */
-khtml-border-bottom-left-radius: 4px; /* Linux-Browser */
}

#main{
float:right;
width:60%;
background:rgb(221, 221, 221); 

border: 12px solid rgb(221, 221, 221); 
-moz-border-radius: 40px; /* Firefox */
-webkit-border-radius: 40px; /* Safari, Chrome */
-khtml-border-radius: 40px; /* Linux-Browser */
border-radius: 8px; /* CSS3 */

}

#top{

}

#pfad {
float:left;
width: 49.5%;
height:25px;
color:#ffffff;
border-top-left-radius:4px; /* CSS3 */
-moz-border-radius-topleft: 4px; /* Firefox */
-webkit-border-top-left-radius: 4px; /* Safari, Chrome */
-khtml-border-top-left-radius: 4px; /* Linux-Browser */
border-top-right-radius:4px; /* CSS3 */
-moz-border-radius-topright: 4px; /* Firefox */
-webkit-border-top-right-radius: 4px; /* Safari, Chrome */
-khtml-border-top-right-radius: 4px; /* Linux-Browser */
background:#d92425;
}


#titel {
float:right;
width: 49.5%;
height: 25px;
background:#d92425;
color:#ffffff;
border-top-left-radius:4px; /* CSS3 */
-moz-border-radius-topleft: 4px; /* Firefox */
-webkit-border-top-left-radius: 4px; /* Safari, Chrome */
-khtml-border-top-left-radius: 4px; /* Linux-Browser */
border-top-right-radius:4px; /* CSS3 */
-moz-border-radius-topright: 4px; /* Firefox */
-webkit-border-top-right-radius: 4px; /* Safari, Chrome */
-khtml-border-top-right-radius: 4px; /* Linux-Browser */
}

#grafik {
float:left;
background:white; 
min-height:100px;
height:auto;
width:100%;
margin: auto;
border-bottom-left-radius:4px; /* CSS3 */
-moz-border-radius-bottomleft: 4px; /* Firefox */
-webkit-border-bottom-left-radius: 4px; /* Safari, Chrome */
-khtml-border-bottom-left-radius: 4px; /* Linux-Browser */
border-bottom-right-radius:4px; /* CSS3 */
-moz-border-radius-bottomright: 4px; /* Firefox */
-webkit-border-bottom-right-radius: 4px; /* Safari, Chrome */
-khtml-border-bottom-right-radius: 4px; /* Linux-Browser */
} 

#impressum a{
margin: auto;
margin-top:25px;
display: block;
width: 180px;
color: black;
text-decoration: none;
}

.infobox{
display: none;
position:absolute;
background-color: #d92425;
color: white;
}

.upperHead, .routeMap {
line-height: 25px;
padding-left: 5px;
}

.routeMap{
cursor: pointer;
}