body{
background-color: yellow;
}

#out{
background: url(pic/gr.gif) no-repeat;
width: 600px;
height: 500px;
display: none;
position: relative;
z-index: 7;
}

#clo{
float: right;
}

#bad{
position: absolute;
background-color: red;
width: 142px;
height: 156px;
margin-top: 28px;
margin-left: 26px;
opacity: 0.3;       /* modern browser */  
    -moz-opacity: 0.3;  /* older Mozilla browser */  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 in Standard Compliant Mode */  
    filter:alpha(opacity=30); /* IE5.x -7.0 */ 
}

#kit{
position: absolute;
background-color: red;
width: 226px;
height: 208px;
margin-top: 197px;
margin-left: 26px;
opacity: 0.5;       /* modern browser */  
    -moz-opacity: 0.5;  /* older Mozilla browser */  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 in Standard Compliant Mode */  
    filter:alpha(opacity=50); /* IE5.x -7.0 */ 
}



#woh{
position: absolute;
background-color: red;
width: 185px;
height: 376px;
margin-top: 28px;
margin-left: 390px;
opacity: 0.7;       /* modern browser */  
    -moz-opacity: 0.7;  /* older Mozilla browser */  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE8 in Standard Compliant Mode */  
    filter:alpha(opacity=70); /* IE5.x -7.0 */ 
}

#choose{
width: 650px;
}

#1{
height: 150px;
width: 600px;
z-index: 6;
position: relative;
border: 1px grey solid;
}

#2{
height: 150px;
width: 596px;
margin-top: -65px;
z-index: 4;
position: relative;
border: 1px grey solid;
margin-left: 2px;
}

#3{
height: 150px;
width: 592px;
margin-top: -65px;
z-index: 2;
position: relative;
border: 1px grey solid;
margin-left: 4px;
}

#shadow1{
position: relative;
z-index: 5;
margin-top: -130px;
margin-left: 8px;
width: 586px;
height: 150px;
background-color: black;
opacity: 0.3;       /* modern browser */  
    -moz-opacity: 0.3;  /* older Mozilla browser */  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 in Standard Compliant Mode */  
    filter:alpha(opacity=30); /* IE5.x -7.0 */ 
}

#shadow2{
position: relative;
z-index: 3;
margin-top: -130px;
margin-left: 10px;
width: 582px;
height: 150px;
background-color: black;
opacity: 0.3;       /* modern browser */  
    -moz-opacity: 0.3;  /* older Mozilla browser */  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 in Standard Compliant Mode */  
    filter:alpha(opacity=30); /* IE5.x -7.0 */ 
}

#shadow3{
position: relative;
z-index: 1;
margin-top: -130px;
margin-left: 10px;
width: 582px;
height: 150px;
background-color: black;
opacity: 0.3;       /* modern browser */  
    -moz-opacity: 0.3;  /* older Mozilla browser */  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 in Standard Compliant Mode */  
    filter:alpha(opacity=30); /* IE5.x -7.0 */ 
}